.info {
    width: 75%;

    & h3 {
        padding-bottom: 1rem;
        font-size: 3rem;
        border-bottom: 1px solid #a4b0be;
    }

    & p {
        font-size: 1.7rem;
        width: 70%;
        margin: 2rem 0 0;
    }
}

.post-info {
    padding: 3rem;
    border: 1px solid rgb(110, 106, 106);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.2rem 0.3rem 0 black;
    transition: 0.2s all ease-out;

    &:hover {
        box-shadow: 0 0.5rem 0.3rem 0.2rem black;
        transform: translateY(-0.3rem);
    }
}