.homepage {
    & .controls {
        & h1 {
            font-size: 4rem;
            text-align: center;
        }

        &__inputs {
            margin-top: 5vh;
            display: flex;
            justify-content: center;

            & input,
            & select {
                font-size: 2rem;
            }

            & .add-btn {
                font-size: 1.7rem;
                color: white;
                padding: 1rem 2rem;
                border: none;
                transition: 0.3s all ease-out;
                margin-left: 10vw;

                background-color: #575fcf;

                &:hover {
                    background-color: #3c40c6;
                }

            }

            &>* {
                padding: 1rem;
            }
        }
    }

    & .posts-list {
        margin-top: 5vh;

        & .not-found {
            text-align: center;
            font-size: 3rem;
        }

        & ul {
            margin-top: 3vh;

            & li {
                &:not(:last-child) {
                    margin-bottom: 3vh;
                }
            }
        }
    }
}