.postpage {
    & .heading {
        display: flex;
        justify-content: space-around;
        align-items: center;

        & h1 {
            font-size: 4rem;
        }
    }

    & .user-info {
        margin-top: 5vh;
        padding: 1rem 2rem;
        border: 1px solid #a4b0be;
        display: inline-block;

        & h2 {
            font-size: 3rem;
        }

        & h3 {
            font-weight: normal;
            font-size: 2rem;
            color: #34495e;
        }

        & h4 {
            font-weight: normal;
            font-size: 1.7rem;
            color: #34495e;
        }

        & p {
            font-size: 1.7rem;
            color: #34495e;

            & a {
                font-style: italic;
                display: inline-block;
            }
        }
    }

    & .post-info {
        margin-top: 3vh;
    }

    & .comments {
        margin-top: 3vh;

        & h3 {
            text-align: center;
            font-size: 3rem;
        }

        & ul {
            margin-top: 1vh;

            & li {
                border: 1px solid #a4b0be;
                padding: 2rem;

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }

                & a {
                    font-size: 1.7rem;
                    display: block;
                    font-style: italic;
                }

                & h4 {
                    font-size: 2rem;
                    display: inline-block;
                    border-bottom: 1px solid #a4b0be;
                }

                & p {
                    font-size: 1.7rem;
                }
            }
        }
    }
}